html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* Nécessaire pour que la hauteur soit héritée */
}

.agenda_container {
  font-family: "Public", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
  display: flex;
  height: 80%; /* Assure que le contenu occupe toute la hauteur */
}

.agenda_header {
  height: 15vh; /* Aligné avec la page Manage Campaigns */
  display: flex;
  justify-content: center;
  align-items: center;
}

.partie_gauche {
  width: 15%;
  background-color: rgb(217, 183, 0);
  display: flex;
  flex-direction: column;
}

.agenda_nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  margin-top: 3rem;
}

.button_agenda_nav {
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 10%;
  background-color: rgb(217, 183, 0);
  color: black;
}

.button_agenda_nav:hover {
  text-decoration: underline white solid;
  background-color: rgb(217, 183, 0);
  color: white;
  transform: scale(1.1);
}

.partie_droite {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.partie_droite_section {
}

.title_liste_agenda {
}

.client-list {
}
