html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* Nécessaire pour que la hauteur soit héritée */
  background-color: #f4f4f9;
}

.body_client {
  font-family: "Public", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.title_create {
  background-color: rgb(116, 0, 255);
  font-size: 4rem;
  font-weight: bold;
  color: white; /* Ajout pour contraste */
  text-align: center; /* Centrer le texte */
  padding: 20px; /* Ajout pour espacement */
}

#createClientForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  margin: 30px auto; /* Simplification du centrage */
  height: 80vh;
}

.part1_client,
.part2_client {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex: 1;
}

.field1_client,
.field2_client,
.field3_client,
.field4_client {
  width: 45%;
}

#addComment,
.submit_button[type="submit"] {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: rgb(116, 0, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit_button[type="submit"] {
  margin-top: 20px;
  align-self: center;
  width: 15%;
}

.footer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 5px;
  background-color: rgb(116, 0, 255);
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}

.footer.visible {
  opacity: 1;
  visibility: visible;
}

.buttonManageLogout,
.logoutButtonClient {
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  background-color: rgb(116, 0, 255);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Responsive bouton accueil */
@media (max-width: 1800px) {
  .buttonManageLogout {
    font-size: 1rem;
    padding: 5px 10px;
  }
}
@media (max-width: 1500px) {
  .buttonManageLogout {
    font-size: 0.75rem;
    padding: 0;
  }
}
