/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

.header {
  text-align: center;
  background-color: #7420ff;
  color: white;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
  background: white;
  font-size: 14px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #7420ff;
  color: white;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

a {
  color: #7420ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
