html,
body {
  height: 100%; /* Nécessaire pour que les enfants occupent la hauteur */
  margin: 0; /* Retire les marges par défaut */
  padding: 0; /* Retire les padding par défaut */
  box-sizing: border-box;
}

.body_manage {
  font-family: "Public", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.global_manage {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header_manage {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 15px; /* Réduction de la hauteur */
  background-color: rgb(116, 0, 255);
  color: white;
  height: 12.5vh;
}

.container_campaign {
  width: 100vw;
  flex: 1;
  display: flex; /* Active Flexbox */
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  text-align: center;
  height: 685px;
}

.uploadForm {
  width: 40%;
  padding: 20px 10px; /* Ajoute un espace interne */
  background-color: white; /* Optionnel : fond blanc pour le formulaire */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Optionnel : ombre pour style */
  border-radius: 8px; /* Arrondit les bords */
  display: flex; /* Active Flexbox */
  flex-direction: column; /* Les éléments s'empilent verticalement */
  align-items: center;
  border: solidrgb(217, 183, 0);
  justify-content: center;
}

.label_campaign {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.campaignFile {
  font-size: 1.2rem;
  border-radius: 5px;
  width: 80%; /* Réduction de la largeur pour un meilleur rendu */
  height: 3rem;
  margin: 5px; /* Espacement entre les champs */
  border: solidgrey 2px;
}

.button_manage {
  width: 30%; /* Largeur ajustée */
  height: 2.5rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: rgb(116, 0, 255);
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin: auto; /* Centre automatiquement dans l'espace disponible */
}

.button_manage:hover {
  background-color: rgb(51, 0, 153);
}

.buttonManageLogout {
  background-color: rgb(116, 0, 255);
  margin: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  border: white;
  cursor: pointer;
}

/* RESPONSIVE*/

@media (max-width: 1120px) {
  .campaignFile {
    font-size: 1rem;
  }
  .button_manage {
    font-size: 0.9rem;
    height: 2rem;
  }
}

@media (max-width: 950px) {
  .button_manage {
    font-size: 0.8rem; /* Ajuste la taille du texte */
    padding: 0.5rem 1rem; /* Réduit les marges internes */
    width: auto; /* Laisse la largeur s'adapter */
    margin: auto; /* Toujours centré */
  }
  .campaignFile {
    font-size: 0.85rem;
  }
  .menu-container {
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 1000;
  }
}
@media (max-width: 750px) {
  .button_manage {
    font-size: 0.7rem;
    padding: 0.4rem 0.8rem;
  }
}
@media (max-width: 668px) {
  .menu-container {
    position: fixed;
    top: 3.5px;
    right: 3.5px;
    z-index: 1000;
  }
}
